.title{
    font-size: 2vw;
    background-color: darkgray;
    font-family:fantasy;
    color: brown;
    text-align: center;
}

.Imputer{
    padding-top: 2vw;
    padding-left: 15vw;
    
}
.Outputer{
    padding-top: 2vw;
    padding-left: 15vw;

}
.ButtonClass{

   border-color: black;
   color:black;
   background-color:rosybrown;
   width: 10vw;
   height: 2vw;
   
   position: initial 20px,40px;

}
.rectangle{
    position: absolute;
    
    height: 20px;
    width: 55px;
    background-color: rgba(85, 85, 85, 0.164);
}
.rectangle2{
    position: absolute;
    
    height: 20px;
    width: 75px;
    background-color: rgba(85, 85, 85, 0.164);
}
.SideInfo{
    
    position:absolute;
    font-size: 20px;
    left: 76%;
    text-decoration:underline rosybrown dotted;

}
.Info{
    position:absolute;
    left: 93%;
    padding-top: 40px;
}
.SideRectangle{
    position:absolute;
    left: 92.5%;
    right: 5%;
    top: 16%;
    background-color: rgba(184, 71, 71, 0.479);
    height: 160px;
    width: 125px;


}
