.title{
    font-size: 2vw;
    background-color: darkgray;
    font-family:fantasy;
    color: brown;
    text-align: center;
}

.Imputer{
    padding-top: 2vw;
    padding-left: 15vw;
    
}
.Outputer{
    padding-top: 2vw;
    padding-left: 15vw;

}
.ButtonClass{

   border-color: black;
   color:black;
   background-color:rosybrown;
   width: 10vw;
   height: 2vw;
   
   position: initial 20px,40px;

}